{% paginate collection.products by limit %}
    <div class="page-width" id="Collection">
    {% if section.settings.layout == 'grid' %}
        {% case section.settings.grid %}
        {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {% when 3 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
        {% when 4 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
        {% when 5 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
        {% endcase %}

        <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
            {% for product in collection.products %}
                <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                    {% include 'product-card-grid', max_height: max_height %}
                </li>
            {% else %}
                {% comment %}
                    Add default products to help with onboarding for collections/all only.

                    The onboarding styles and products are only loaded if the
                    store has no products.
                {% endcomment %}
                {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                    <li class="grid__item">
                        <div class="grid grid--uniform">
                            {% for i in (1..limit) %}
                                <div class="grid__item {{ grid_item_width }}">
                                    <div class="grid-view-item">
                                        <a href="#" class="grid-view-item__link">
                                            <div class="grid-view-item__image">
                                                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                            </div>
                                            <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                                            <div class="grid-view-item__meta">
                                                <span class="product-price__price">$19.99</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    {%- assign is_empty_collection = true -%}
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <ul class="list-view-items">
            {% for product in collection.products %}
                <li class="list-view-item">
                    {% include 'product-card-list', product: product %}
                </li>
            {% else %}

                {% comment %}
                    Add default products to help with onboarding for collections/all only.

                    The onboarding styles and products are only loaded if the
                    store has no products.
                {% endcomment %}
                {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
                    {% for i in (1..4) %}
                        <li class="list-view-item">
                            <a href="#" class="list-view-item__link">
                                <div class="list-view-item__image-column">
                                    <div class="list-view-item__image-wrapper">
                                        <div class="list-view-item__image">
                                            {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                                            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                        </div>
                                    </div>
                                </div>

                                <div class="list-view-item__title-column">
                                    <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                                </div>

                                <div class="list-view-item__price-column">
                                    <span class="product-price__price">$19.99</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    {%- assign is_empty_collection = true -%}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_empty_collection %}
        <div class="grid__item small--text-center">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        </div>
    {% endif %}

    {% if paginate.pages > 1 %}
        {% include 'pagination' %}
    {% endif %}
</div>
{% endpaginate %}