{% assign author_blog_handle = 'authors' %}
<div class="our-authors x1" id="mega-menu-authors">
    <ul class="logo-bar">
       <li class="logo-bar__item author-info" {{ block.shopify_attributes }}>
            {% for article in blogs[author_blog_handle].articles %}  
            {% if article.handle == block.settings.author_article %}   
                <a href="{% if article.url != blank %}{{ article.url }}{% else %}#{% endif %}" class="logo-bar__link author-link">
                    {% if article.image.src != blank %}
                        {% assign src = article.image.src %}
                        <div class="logo-bar__image author-image" 
                                style="background-image: url('{{ src | img_url: 'medium' }}');
                                    background-size: cover;
                                    background-position: center;">
                        </div>
                    {% elsif article.content contains "<img" %}
                        {% assign src = article.content | split: 'src="' %}
                        {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
                        <div class="logo-bar__image author-image" 
                                style="background-image: url('{{ src }}');
                                    background-size: cover;
                                    background-position: center;">
                        </div>
                    {% else %}
                        {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                    {% if article.title != blank %}
                        <div class="logo-bar__link author-name"
                            style="color: {{ section.settings.author_name_color }};">
                            {{ article.title }}
                        </div>
                    {% endif %}
                </a>
                {% break %}
                {% endif %}
            {% endfor %}
        </li>
    </ul>
</div>